body
{
   background:#e9e9ea;
}

.header
{
   text-align: center;
   background: #307cb7;
   font-family:'Calibri', fantasy;
   width: 100%;
   
}

h1
{
   font-size: xx-large; 
   color: #ffffbe;
}

p
{
  margin: 1%;
   font-size: 85%; 
   color: white;
}

.headertext
{
   font-size: 85%; 
   color: #ffffbe;
   
}

.flex-container{
display: flex;
	width: 100%;
	flex-wrap: nowrap;   
}

.leftcolumn
{

   float: left;
   width: 200px;
   min-width: 200px;
   text-align: left;
   background: #0eaf41;
   font-family: Impact, Charcoal, sans-serif;
   flex-shrink: initial;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-around;
   box-sizing: border-box;
   order: 1;
}

.sidebartext
{
  margin: 5px;
  font-family: Arial, monospace;
  font-size: small;
}

.maincolumn
{
   margin-left: 1%;  
   float: left;
   width: 80%;
   text-align: left;
   font-family: Arial, Charcoal, sans-serif;
   font-size: small;
   flex-shrink: initial;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
   box-sizing: border-box;
   order: 2;
   
}
.topcolumn
{
   background: #f45541;
   margin-bottom: 5px;   
}

.bottomcolumn
{
   background: #f4b241;  
}
.maintext
{
   margin: 1%;
   font-size: 85%; 
   color: black;
   flex-shrink: initial;
}

.rightcolumn
{
   float: left;
   width: 200px;
   min-width: 200px;
   margin-left: 1% ;
   text-align: left;
   font-size: small;
   background: #7631b7;
   font-family: Impact, Charcoal, sans-serif;
   flex-shrink: initial;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-around;
   box-sizing: border-box;
   order: 3;
   
}

.footer
{
   width: inherit;
   height: auto;
    text-align: center;
   background: #323147;
   font-family: Impact, Charcoal, sans-serif;
   flex-shrink: initial;

}

.footertext
{
  text-align: left;
  font-size: medium;
  font-family:  sans-serif;
}



@media screen and (max-width: 700px) {
	.leftcolumn, .maincolumn , .rightcolumn{
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 1%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		min-width: 400px;
     width: 100%;
	}

   .leftcolumn
   {
      width: 200px;
      min-width: 200px;
      margin-left: auto;
      margin-right: auto;
      order: 1;
   }
   .rightcolumn
   {
        width: 200px;
        min-width: 200px;
        margin-left: auto;
        margin-right: auto;
        order: 2;
   }
   .maincolumn
   {
      order:3;    
   }
   .flex-container{
      display: flex;
      width: 100%;   
      flex-wrap: wrap;   
   }
    .footertext
   {
      font-size: small;    
   }
}


