 #elements {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
   
}

.elem {
    float: left;
    margin: 0 auto;
}

img{
    margin: 0 auto;
   width: 700px;
   height: 700px;
}

body
{
    background: rgb(222, 228, 222);
}